:root {
  --clr-dark: #252525;
  --clr-text: #14a76c;
  --font-nav: "Montserrat", sans-serif;
  --font-title: "Montserrat", sans-serif;
  --font-text: "Source Sans Pro", sans-serif;
  --font-aboutTitle: "Lobster", cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

hr {
  border: 1px solid black;
}

/* Typography */

strong {
  font-weight: 900;
}

.nav-font {
  font-family: var(--font-nav);
  font-weight: 500;
  font-size: 1.15em;
  color: #ffffff;
  letter-spacing: 3px;
}

.title-font {
  font-family: var(--font-title);
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 3px;
  color: #fff5db;
  text-shadow: -2px 1px 1px black, -3px 2px 1px black, -4px 3px 1px black,
    -5px 4px 1px black, -5px 5px 5px black;
}

.subtitle-font {
  font-family: var(--font-text);
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff5db;
  text-shadow: 3px 3px 2px black, 4px 4px 2px black, 5px 5px 2px black,
    6px 6px 2px black, 10px 10px 15px pink;
}

.intro-text {
  color: orange;
  font-family: var(--font-text);
  font-size: 1.5em;
  z-index: 1;
}

.about-body-font > p {
  font-family: "Heebo", sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  text-shadow: -1px 1px 10px rgb(0, 0, 0);
}

.about-subtitle {
  font-size: 1.1rem;
}

/* Intro Animation */

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scrollbar-width: none;
  pointer-events: none;
  z-index: 999;
}

.indent {
  margin-left: 2em;
}

.hide {
  margin-bottom: 0.5em;
  letter-spacing: 8px;
  background: black;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

@media (max-width: 560px) {
  .intro-text {
    font-size: 0.5em;
  }
}

/* Nav styles */

header {
  position: fixed;
  width: 100vw;
  height: 5em;
  background-color: var(--clr-dark);
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link:first-child {
  margin-left: 4em;
}

.nav-link {
  list-style: none;
  margin: 1.15em 1.15em;
  /* border: 2px solid red; */
}

.nav-link a {
  text-decoration: none;
  display: inline-block;
  transition: transform 400ms ease-in-out;
}

.nav-link a:hover,
.nav-link a:focus {
  transform: scale(1.15);
  cursor: pointer;
}

.logo {
  display: inline-block;
  margin-top: 3px;
  margin-right: 3em;
  border-radius: 50%;
  border: 2px solid var(--clr-dark);
  box-shadow: 1px 1px 10px var(--clr-dark);
  height: 4.5em;
  transition: transform 600ms ease;
}

.logo:hover,
.logo:focus {
  transform: scale(1.35) translateY(1em);
}

@media (max-width: 560px) {
  header {
    position: fixed;
    height: 90px;
    z-index: 999;
  }

  nav {
    display: flex;
    height: 5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .nav-font {
    font-size: 0.9em;
  }

  .nav-link {
    margin-top: 2em;
    z-index: 2;
  }

  .nav-link:first-child {
    margin-left: 2em;
  }

  .nav-items {
    order: 2;
  }

  .logo {
    display: none;
    align-self: center;
    margin: 0;
    margin-top: 110px;
    order: 1;
    z-index: 1;
  }

  .logo:hover,
  .logo:focus {
    transform: scale(1.35);
  }
}

/* Welcome area styles */

.right-skew {
  display: none;
}

.cntr {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.welcome-bg {
  background-image: url(../images/welcome_galaxy_bg.jpg);
  background-size: cover;
  display: block;
  overflow: hidden;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  object-fit: cover;
  opacity: 90%;
  animation: breathe 40s steps(50) infinite normal;
  z-index: 2;
}

.welcome-container {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  display: flex;
  justify-content: center;
}

.title-container {
  display: flex;
  position: absolute;
  top: 16%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 320px;
  padding: 1em;
}

.welcome-title {
  min-width: 320px;
  height: 2.7em;
  margin-bottom: 0.15em;
}

.welcome-subtitle {
  display: flex;
  width: max-content;
}

#main-title {
  border-right: 0.3rem solid rgba(255, 255, 255, 0.8);
  animation: cursor-blink 500ms steps(20) infinite normal;
}

#names {
  color: rgb(0, 255, 195);
  text-shadow: -2px 1px 1px black, -3px 2px 1px black, -4px 3px 1px black,
    -5px 4px 1px black, -5px 5px 5px black;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.025);
  }
  20% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(1.075);
  }
  40% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.125);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.075);
  }
  80% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes cursor-blink {
  from {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
  to {
    border-right-color: transparent;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .right-skew {
    display: none;
  }

  .cntr {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }

  .welcome-bg {
    background-image: url(../images/welcome_galaxy_bg.jpg);
    background-size: cover;
    display: block;
    overflow: hidden;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 90%;
    animation: breathe 40s steps(50) infinite normal;
    z-index: 2;
  }

  .welcome-container {
    position: relative;
    overflow: hidden;
    max-height: 100vh;
    display: flex;
    justify-content: center;
  }

  .title-container {
    display: flex;
    position: absolute;
    top: 16%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 320px;
    padding: 1em;
  }

  .welcome-title {
    min-width: 320px;
    height: 2.7em;
    margin-bottom: 0.15em;
  }

  .welcome-subtitle {
    display: flex;
    width: max-content;
  }

  #main-title {
    border-right: 0.3rem solid rgba(255, 255, 255, 0.8);
    animation: cursor-blink 500ms steps(20) infinite normal;
  }

  #names {
    color: rgb(0, 255, 195);
    text-shadow: -2px 1px 1px black, -3px 2px 1px black, -4px 3px 1px black,
      -5px 4px 1px black, -5px 5px 5px black;
  }
}

@media (min-width: 780px) {
  .title-font {
    font-size: 1.6rem;
  }

  .right-skew {
    background-image: url(../images/altumcode-zE007SNgcdE-unsplash_blur.jpg);
    background-size: cover;
    background-position: right;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #24445b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    display: inline-block;
  }

  .cntr {
    overflow: hidden;
    transform: skewX(20deg);
    width: 100vw;
    margin-left: -120vw;
    border-right: 3px solid black;
  }

  .welcome-bg {
    background-image: url(../images/welcome_galaxy_bg.jpg);
    background-size: cover;
    background-position: 500px;
    display: block;
    overflow: hidden;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 90%;
    animation: breathe 40s steps(50) infinite normal;
    z-index: 2;
  }

  .welcome-container {
    position: relative;
    overflow: hidden;
    max-height: 100vh;
  }

  .title-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 1em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 320px;
    padding: 1em;
  }

  .welcome-title {
    width: 320px;
    height: 2.7em;
    margin-bottom: 0.15em;
  }

  .welcome-subtitle {
    display: flex;
    width: max-content;
  }

  #main-title {
    border-right: 0.3rem solid rgba(255, 255, 255, 0.8);
    animation: cursor-blink 500ms steps(20) infinite normal;
  }

  #names {
    color: rgb(0, 255, 195);
    text-shadow: -2px 1px 1px black, -3px 2px 1px black, -4px 3px 1px black,
      -5px 4px 1px black, -5px 5px 5px black;
  }
}

@media (min-width: 1400px) {
  .title-font {
    font-size: 2.25rem;
  }

  .right-skew {
    background-image: url(../images/altumcode-zE007SNgcdE-unsplash_blur.jpg);
    background-size: cover;
    background-position: right;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #24445b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    display: inline-block;
  }

  .cntr {
    overflow: hidden;
    transform: skewX(20deg);
    width: 100vw;
    margin-left: -140vw;
    border-right: 3px solid black;
  }

  .welcome-bg {
    background-image: url(../images/welcome_galaxy_bg.jpg);
    background-size: cover;
    background-position: 500px;
    display: block;
    overflow: hidden;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 90%;
    animation: breathe 40s steps(50) infinite normal;
    z-index: 2;
  }

  .welcome-container {
    position: relative;
    overflow: hidden;
    max-height: 100vh;
  }

  .title-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 1em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 500px;
    padding: 1em;
  }

  .welcome-title {
    width: 500px;
    height: 2.7em;
    margin-bottom: 0.15em;
  }

  .welcome-subtitle {
    display: flex;
    width: max-content;
  }

  #main-title {
    border-right: 0.3rem solid rgba(255, 255, 255, 0.8);
    animation: cursor-blink 500ms steps(20) infinite normal;
  }

  #names {
    color: rgb(0, 255, 195);
    text-shadow: -2px 1px 1px black, -3px 2px 1px black, -4px 3px 1px black,
      -5px 4px 1px black, -5px 5px 5px black;
  }
}

/* .anim-bounce {
  animation: letter-bounce 500ms linear 1 normal;
  animation-delay: 2s;
}

@keyframes letter-bounce {
  0% {
    transform: translateY(-1px);
  }
  20% {
    transform: translateY(-2px);
  }
  30% {
    transform: translateY(-3px);
  }
  40% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(-2px);
  }
  70% {
    transform: translateY(-1px);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* @keyframes letter-bounce {
  0% {
    transform: translateY(-2px);
  } 25% {
    transform: translateY(-4px);
  } 50% {
    transform: translateY(-2px);
  } 75% {
    transform: translateY(-1px);
  } 100% {
    transform: translateY(0px);
  } 
} */

/* About area styles */

:target::before {
  content: "";
  display: block;
  height: 5em;
  margin: -80px 0 0;
}

.about-container {
  border-top: 2px solid black;
  background-color: white;
  background: url(../images/welcome_bg2.jpg) no-repeat left top;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  min-height: fit-content;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "about" "skills";
  gap: 50px;
  /* justify-content: center; */
  z-index: 0;
  margin: 0;
  align-content: center;
}

.about-body-item {
  height: fit-content;
  /* width: fit-content; */
  max-width: 800px;
  min-width: 300px;
  border-radius: 15px;
  justify-self: center;
  padding: 25px;
  border: 1px solid black;
  text-align: justify;
  position: relative;
  z-index: 1;
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.7), -2px 2px 1px rgba(0, 0, 0, 1),
    inset 0 0 2000px rgba(133, 95, 58, 0.5);
  grid-area: about;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.sub-heading {
  font-family: var(--font-aboutTitle);
  font-size: 1.3rem;
  color: black;
  letter-spacing: 3px;
  margin-bottom: 20px;
  position: relative;
}

.about-body-descr {
  margin-top: 20px;
  position: relative;
}

.shape {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  top: -20px;
  right: 5px;
  height: 90px;
  width: 90px;
  border-radius: 20px;
  box-shadow: 2px 1px 1px black, 3px 2px 1px black, 4px 3px 1px black,
    5px 4px 1px black, 5px 5px 5px black, -10px 10px 20px rgba(0, 0, 0, 0.3);
  transform: rotate(20deg);
}

.about-body-image {
  height: 80px;
  width: 80px;
  border-radius: 15px;
  box-shadow: -2px 1px 1px black, -3px 2px 1px black, -4px 3px 1px black,
    -5px 4px 1px black, -5px 5px 5px black;
  position: absolute;
  left: 5px;
  z-index: 2;
  opacity: 95%;
  transform: rotate(-20deg);
}

.skills {
  grid-area: skills;
  padding: 25px;
  max-height: 360px;
  max-width: 300px;
  width: 260px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 25px;
  border: 1px solid black;
  text-align: justify;
  justify-self: center;
  position: relative;
  z-index: 1;
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.7), -2px 2px 1px rgba(0, 0, 0, 1),
    inset 0 0 2000px rgba(133, 95, 58, 0.5);
  display: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
}

.skills-image {
  height: 75px;
  width: 75px;
  position: absolute;
  left: 8px;
  top: 7px;
  z-index: 2;
  opacity: 95%;
  transform: rotate(-20deg);
}

.bar-outline {
  content: "";
  height: 8px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
}

.html-bar {
  margin: 5px 0;
  height: 8px;
  width: 125px;
  border-radius: 5px;
  background-color: rgb(0, 255, 75);
  position: relative;
}

.css-bar {
  margin: 5px 0;
  height: 8px;
  width: 125px;
  border-radius: 5px;
  background-color: rgb(0, 255, 75);
  position: relative;
}

.javascript-bar {
  margin: 5px 0;
  height: 8px;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(0, 255, 75);
  position: relative;
}

.python-bar {
  margin: 5px 0;
  height: 8px;
  width: 160px;
  border-radius: 5px;
  background-color: rgb(0, 255, 75);
  position: relative;
}

.c-bar {
  margin: 5px 0;
  height: 8px;
  width: 160px;
  border-radius: 5px;
  background-color: rgb(0, 255, 75);
  position: relative;
}

.java-bar {
  margin: 5px 0;
  height: 8px;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(0, 255, 75);
  position: relative;
}

@media (min-width: 768px) {
  .about-container {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "about skills";
    height: 100vh;
    min-height: fit-content;
    gap: 150px;
  }

  .about-body-item {
    grid-area: about;
    margin: 0;
    margin-left: auto;
  }

  .skills {
    grid-area: skills;
    margin: 0;
    margin-right: auto;
  }
}

/* Projects Section */

#projects {
  height: 100vh;
}

.project-container {
  height: 100vh;
}
