:root {
  --clr-dark: #252525;
  --clr-text: #14a76c;
  --font-intro: "Press Start 2P", cursive;
  --font-nav: "Comfortaa", cursive;
  --font-title: "Anonymous Pro", monospace;
  --font-text: "Source Sans Pro", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Typography */

.nav-font {
  font-family: var(--font-nav);
  font-weight: 700;
  font-size: 1.15em;
  color: #ffffff;
  letter-spacing: 3px;
}

.title-font {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 2.9em;
  letter-spacing: 3px;
  color: #fff5db;
  text-shadow: 3px 3px 2px black, 4px 4px 2px black, 5px 5px 2px black,
    6px 6px 2px black, 7px 7px 2px black, 8px 8px 2px black, 9px 9px 10px pink,
    10px 10px 15px white;
}

.subtitle-font {
  font-family: var(--font-text);
  font-weight: 600;
  font-size: 1.4em;
  color: #fff5db;
  text-shadow: 3px 3px 2px black, 4px 4px 2px black, 5px 5px 2px black,
    6px 6px 2px black,
    /* 7px 7px 2px black,
  8px 8px 2px black,
  9px 9px 2px white, */ 10px 10px
      15px pink;
}

.intro-text {
  color: orange;
  font-family: var(--font-text);
  font-size: 1.5em;
  z-index: 1;
}

/* Intro Animation */

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indent {
  margin-left: 2em;
}

.hide {
  margin-bottom: 0.5em;
  letter-spacing: 8px;
  background: black;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

@media (max-width: 560px) {
  .intro-text {
    font-size: 0.5em;
  }
}

/* Nav styles */

header {
  position: fixed;
  width: 100vw;
  height: 5em;
  background-color: var(--clr-dark);
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px dashed orange; */
}

.nav-link:first-child {
  margin-left: 4em;
}

.nav-link {
  list-style: none;
  margin: 1.15em 1.15em;
  /* border: 2px solid red; */
}

.nav-link a {
  text-decoration: none;
  display: inline-block;
  transition: transform 400ms ease-in-out;
}

.nav-link a:hover,
.nav-link a:focus {
  transform: scale(1.15);
  cursor: pointer;
}

.logo {
  display: inline-block;
  margin-top: 3px;
  margin-right: 3em;
  border-radius: 50%;
  border: 2px solid var(--clr-dark);
  box-shadow: 1px 1px 10px var(--clr-dark);
  height: 4.5em;
  transition: transform 600ms ease;
}

.logo:hover {
  transform: scale(1.35) translateY(1em);
}

@media (max-width: 560px) {
  header {
    position: fixed;
    height: 90px;
    z-index: 1;
  }

  nav {
    display: flex;
    height: 5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .nav-font {
    font-size: 0.9em;
  }

  .nav-link {
    margin-top: 2em;
    z-index: 2;
  }

  .nav-link:first-child {
    margin-left: 2em;
  }

  .nav-items {
    order: 2;
  }

  .logo {
    display: none;
    align-self: center;
    margin: 0;
    margin-top: 110px;
    order: 1;
    z-index: 1;
  }

  .logo:hover {
    transform: scale(1.35);
  }
}

/* Welcome area styles */

.welcome-bg {
  background-size: cover;
  overflow: hidden;
  padding: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  opacity: 90%;
  animation: breathe 20s steps(50) infinite normal;
  z-index: 0;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.025);
  }
  20% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(1.075);
  }
  40% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.125);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.075);
  }
  80% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

.welcome-container {
  position: relative;
  overflow: hidden;
}

.title-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 4px dashed yellow; */
}

.welcome-title {
  text-align: center;
  margin-bottom: 1em;
  /* border: 2px solid red; */
}

.welcome-subtitle {
  /* position: fixed; */
  display: flex;
  width: max-content;
  /* border: 2px solid red; */
}

#main-title {
  border-right: 0.3rem solid rgba(255, 255, 255, 0.8);
  animation: cursor-blink 500ms steps(20) infinite normal;
}

#names {
  color: rgb(252, 173, 4);
  text-shadow: 3px 3px 2px black, 4px 4px 2px black, 5px 5px 2px black,
    6px 6px 2px black, 7px 7px 2px black, 8px 8px 2px black,
    9px 9px 5px rgb(252, 173, 4), 10px 10px 15px black;
  text-decoration: underline;
}

@keyframes cursor-blink {
  from {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
  to {
    border-right-color: transparent;
  }
}

@media (max-width: 560px) {
  .welcome-container {
    z-index: -1;
  }

  .title-container {
    width: min-content;
  }

  .welcome-title {
    width: min-content;
  }

  .title-font {
    font-size: 2.4em;
  }

  .subtitle-font {
    font-size: 0.9em;
  }
}

.anim-bounce {
  animation: letter-bounce 500ms linear 1 normal;
  animation-delay: 2s;
}

@keyframes letter-bounce {
  0% {
    transform: translateY(-1px);
  }
  20% {
    transform: translateY(-2px);
  }
  30% {
    transform: translateY(-3px);
  }
  40% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(-2px);
  }
  70% {
    transform: translateY(-1px);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @keyframes letter-bounce {
  0% {
    transform: translateY(-2px);
  } 25% {
    transform: translateY(-4px);
  } 50% {
    transform: translateY(-2px);
  } 75% {
    transform: translateY(-1px);
  } 100% {
    transform: translateY(0px);
  } 
} */

/* About area styles */

.about-container {
  border-top: 7px solid black;
  scroll-snap-type: y mandatory;
}

#about {
  height: 100vh;
  text-align: center;
  scroll-snap-align: start;
}
