:root {
  --clr-dark: #252525;
  --clr-text: #14a76c;
  --font-nav: "Comfortaa", cursive;
  --font-title: "Anonymous Pro", monospace;
  --font-text: "Source Sans Pro", sans-serif;
  --font-aboutTitle: "Lobster", cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Typography */

strong {
  font-weight: 900;
}

.nav-font {
  font-family: var(--font-nav);
  font-weight: 700;
  font-size: 1.15em;
  color: #ffffff;
  letter-spacing: 3px;
}

.title-font {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 3px;
  color: #fff5db;
  text-shadow: -2px 1px 1px black, -3px 2px 1px black, -4px 3px 1px black,
    -5px 4px 1px black, -5px 5px 5px black;
}

.subtitle-font {
  font-family: var(--font-text);
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff5db;
  text-shadow: 3px 3px 2px black, 4px 4px 2px black, 5px 5px 2px black,
    6px 6px 2px black,
    /* 7px 7px 2px black,
  8px 8px 2px black,
  9px 9px 2px white, */ 10px 10px
      15px pink;
}

.intro-text {
  color: orange;
  font-family: var(--font-text);
  font-size: 1.5em;
  z-index: 1;
}

.about-font {
  font-family: "Heebo", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 4px;
  text-shadow: 1px 0px 1px black, 2px 0px 1px black, 3px 0px 1px black,
    4px 0px 1px black, 5px 0px 1px black, 6px 0px 3px black;
}

.about-body-font > p {
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  text-shadow: -1px 1px 10px black;
}

.about-subtitle {
  font-size: 1.1rem;
}

/* Intro Animation */

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scrollbar-width: none;
  pointer-events: none;
  z-index: 999;
}

.indent {
  margin-left: 2em;
}

.hide {
  margin-bottom: 0.5em;
  letter-spacing: 8px;
  background: black;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

@media (max-width: 560px) {
  .intro-text {
    font-size: 0.5em;
  }
}

/* Nav styles */

header {
  position: fixed;
  width: 100vw;
  height: 5em;
  background-color: var(--clr-dark);
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px dashed orange; */
}

.nav-link:first-child {
  margin-left: 4em;
}

.nav-link {
  list-style: none;
  margin: 1.15em 1.15em;
  /* border: 2px solid red; */
}

.nav-link a {
  text-decoration: none;
  display: inline-block;
  transition: transform 400ms ease-in-out;
}

.nav-link a:hover,
.nav-link a:focus {
  transform: scale(1.15);
  cursor: pointer;
}

.logo {
  display: inline-block;
  margin-top: 3px;
  margin-right: 3em;
  border-radius: 50%;
  border: 2px solid var(--clr-dark);
  box-shadow: 1px 1px 10px var(--clr-dark);
  height: 4.5em;
  transition: transform 600ms ease;
}

.logo:hover,
.logo:focus {
  transform: scale(1.35) translateY(1em);
}

@media (max-width: 560px) {
  header {
    position: fixed;
    height: 90px;
    z-index: 999;
  }

  nav {
    display: flex;
    height: 5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .nav-font {
    font-size: 0.9em;
  }

  .nav-link {
    margin-top: 2em;
    z-index: 2;
  }

  .nav-link:first-child {
    margin-left: 2em;
  }

  .nav-items {
    order: 2;
  }

  .logo {
    display: none;
    align-self: center;
    margin: 0;
    margin-top: 110px;
    order: 1;
    z-index: 1;
  }

  .logo:hover,
  .logo:focus {
    transform: scale(1.35);
  }
}

/* Welcome area styles */

.welcome-bg {
  background-size: cover;
  display: block;
  overflow: hidden;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  object-fit: cover;
  opacity: 90%;
  animation: breathe 25s steps(50) infinite normal;
  z-index: 2;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.025);
  }
  20% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(1.075);
  }
  40% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.125);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.075);
  }
  80% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

.welcome-container {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
}

.title-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-title {
  min-width: 100vw;
  text-align: center;
  margin-bottom: 1em;
}

.welcome-subtitle {
  display: flex;
  width: max-content;
}

#main-title {
  border-right: 0.3rem solid rgba(255, 255, 255, 0.8);
  animation: cursor-blink 500ms steps(20) infinite normal;
}

#names {
  color: rgb(252, 173, 4);
  text-shadow: -2px 1px 1px black, -3px 2px 1px black, -4px 3px 1px black,
    -5px 4px 1px black, -5px 5px 5px black;
  text-decoration: underline;
}

@keyframes cursor-blink {
  from {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
  to {
    border-right-color: transparent;
  }
}

@media (max-width: 960px) {
  .title-font {
    font-size: 2rem;
  }

  .title-container {
    width: min-content;
  }

  .welcome-title {
    width: min-content;
  }

  .subtitle-font {
    font-size: 1.1em;
  }
}

@media (max-width: 560px) {
  .welcome-container {
    z-index: -1;
  }

  .title-container {
    width: min-content;
  }

  .welcome-title {
    width: min-content;
  }

  .title-font {
    font-size: 1.1rem;
  }

  .subtitle-font {
    font-size: 0.675rem;
  }
}

/* .anim-bounce {
  animation: letter-bounce 500ms linear 1 normal;
  animation-delay: 2s;
}

@keyframes letter-bounce {
  0% {
    transform: translateY(-1px);
  }
  20% {
    transform: translateY(-2px);
  }
  30% {
    transform: translateY(-3px);
  }
  40% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(-2px);
  }
  70% {
    transform: translateY(-1px);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* @keyframes letter-bounce {
  0% {
    transform: translateY(-2px);
  } 25% {
    transform: translateY(-4px);
  } 50% {
    transform: translateY(-2px);
  } 75% {
    transform: translateY(-1px);
  } 100% {
    transform: translateY(0px);
  } 
} */

/* About area styles */

:target::before {
  content: "";
  display: block;
  height: 5em;
  margin: -80px 0 0;
}

.about-container {
  border-top: 2px solid black;
  background-color: white;
  background: url(../images/Picture2.jpg) no-repeat left top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 0;
}

.about-title {
  font-family: var(--font-aboutTitle);
  font-size: 4rem;
  letter-spacing: 3px;
  margin-bottom: 20px;
  position: relative;
}

.about-body-descr {
  margin-top: 20px;
  position: relative;
}

.shape {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  top: -20px;
  right: -70px;
  height: 160px;
  width: 160px;
  border-radius: 20px;
  box-shadow: 2px 1px 1px black, 3px 2px 1px black, 4px 3px 1px black,
    5px 4px 1px black, 5px 5px 5px black, -10px 10px 20px rgba(0, 0, 0, 0.3);
  transform: rotate(20deg);
}

.about-body-image {
  height: 150px;
  width: 150px;
  border-radius: 15px;
  box-shadow: -2px 1px 1px black, -3px 2px 1px black, -4px 3px 1px black,
    -5px 4px 1px black, -5px 5px 5px black;
  position: absolute;
  left: 5px;
  z-index: 2;
  opacity: 95%;
  transform: rotate(-20deg);
}

.about-body-item {
  font-size: 1rem;
  height: fit-content;
  width: fit-content;
  max-width: 800px;
  border-radius: 15px;
  /* align-self: center; */
  justify-self: center;
  margin: auto 75px;
  padding: 25px;
  border: 1px solid black;
  text-align: justify;
  position: relative;
  z-index: 1;
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.7), -2px 2px 1px rgba(0, 0, 0, 1),
    inset 0 0 2000px rgba(0, 0, 0, 0.65);
}

@media (min-width: 557px)  {
  .about-container {
    height: 100vh;
  }

  .shape {
    height: 110px;
    width: 110px;
    right: -40px;
  }

  .about-body-image {
    height: 100px;
    width: 100px;
  }

  .about-title {
    font-size: 2.4rem;
  }

  .about-body-font > p {
    font-size: 0.85rem;
  }

  .about-body-item {
    margin: auto 75px;
  }
}

@media (min-width: 414px) {
  .about-container {
    height: 110vh;
  }

  .shape {
    height: 90px;
    width: 90px;
    right: -30px;
  }

  .about-body-image {
    height: 80px;
    width: 80px;
  }

  .about-title {
    font-size: 1.5rem;
    color: white;
  }

  .about-body-font > p {
    font-size: 0.85rem;
  }

  .about-body-item {
    margin: auto 75px;
  }
}

@media (min-width: 0px) and (max-width: 414px) {
  .about-container {
    height: 160vh;
  }

  .shape {
    height: 90px;
    width: 90px;
    right: -40px;
  }

  .about-body-image {
    height: 80px;
    width: 80px;
  }

  .about-title {
    font-size: 1.5rem;
    color: white;
  }

  .about-body-font > p {
    font-size: 0.85rem;
  }

  .about-body-item {
    margin: auto 75px;
  }
}

/* @media screen and (orientation: portrait) {
  .about-container {
    background-size: auto 100%;
  }
}

@media screen and (orientation: landscape) {
  .about-container {
    background-size: 100% auto;
  }
} */

/* Skills section */
